{% extends "home/common.html" %}
{% block content %}

    <!-- //网站头部 -->
    <div id="mr-mainbody" class="container mr-mainbody">
        <div class="row">

            <!-- 显示搜索到的设备列表 -->
            <div id="mr-content"
                class="mr-content col-xs-12 col-sm-12 col-md-9 col-md-push-3">

                <div id="system-message-container" style="display: none;"></div>

                <div id="mrshop" class="mrshop common-home">
                    <div class="container_oc">
                        <ul class="breadcrumb">
                        </ul>
                        <div class="row">
                            <div id="content_oc" class="col-sm-12">
                                <div class="box_oc">
                                    <div class="box-heading">
                                        <h1 class="mrshop_heading_h1">搜索结果</h1>
                                    </div>
                                    <div class="box-content1">
                                        <hr>
                                        <div class="row">
                                            {% if page_data.items %}
                                            {% for item in page_data.items %}
                                            <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="product-thumb">
                                                    <div class="actions">
                                                        <div class="image">
                                                            <a href="/devices_detail/{{item.id}}?type={{item.supercat_id}}">
                                                                <img src="{{url_for('static',filename='images/goods/'+item.picture)}}"
                                                                class="img-responsive">
                                                            </a>
                                                        </div>
                                                        <div class="button-group btn-grid">
                                                            <div class="cart">
                                                                <button class="btn btn-primary btn-primary"
                                                                    type="button" data-toggle="tooltip"
                                                                    onclick='javascript:window.location.href="/cart_add?goods_id={{item.id}}&number=1"; '
                                                                    style="display: none; width: 33.3333%;"
                                                                    data-original-title="添加到我的设备">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </button>
                                                            </div>
                                                            <div class="wishlist">
                                                                <button class="btn" type="button" data-toggle="tooltip"
                                                                    title="收藏">
                                                                    <i class="fa fa-heart"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="caption">
                                                            <div class="IP address">
                                                                <span class="IP address">管理IP地址：</span> <span><a href="/devices_detail/{{item.id}}?type={{item.supercat_id}}">{{item.name}}</a></span>
                                                            </div>
                                                            <p class="class">
                                                                <span class="class">分类：</span> <span>{{item.subcat.cat_name}}</span>
                                                            </p>
                                                            <p class="function">
                                                                <span class="introduction">介绍：{{item.introduction}}
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                                <div style="text-align:center;font-size:16px;color:red">没有查到您想要的设备哦！</div>
                                            {% endif %}
                                        </div>
                                        {% if page_data.items %}
                                        <div class="row pagination">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
												  <td height="30" align="right">当前页数：[{{page_data.page}}/{{page_data.pages}}]&nbsp;
													<a href="{{ url_for('home.devices_search',page=1,keywords=keywords) }}">第一页</a>
													{% if page_data.has_prev %}
													  <a href="{{ url_for('home.devices_search',page=page_data.prev_num,keywords=keywords) }}">上一页</a>
													{% endif %}
													{% if page_data.has_next %}
												　     <a href="{{ url_for('home.devices_search',page=page_data.next_num,keywords=keywords) }}">下一页</a>
													{% endif %}　
													<a href="{{ url_for('home.devices_search',page=page_data.pages,keywords=keywords) }}">最后一页&nbsp;</a>
												  </td>
												</tr>
                                            </table>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //显示搜索到的设备列表-->
			<!-- 显示左侧我的设备 -->
		<div class="mr-sidebar mr-sidebar-left col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9  hidden-sm hidden-xs">
			<div class="mr-module module " id="Mod157">
				<div class="module-inner">
					<div class="module-ct">
						<div class="mrshop">
							<div class="container_oc">
								<div class="box_oc">
									<div>
										<h3 class="index_h3">
											<span class="index_title">我的设备</span>
										</h3>
										<div class="box-product product-grid">
											{% for item in my_cart %}
											<div>
												<tr>
                                                <td class="text-center image" width="20%">
                                                    <a href="{{url_for('home.devices_detail',id=item.devices.id)}}">
                                                    <img width="80px" src="{{url_for('static',filename='images/goods/'+item.devices.picture)}}"> </a>
                                                </td>
                                                <td class="text-left name">
                                                    <a href="{{url_for('home.devices_detail',id=item.devices.id)}}">{{item.devices.name}}</a>
                                                </td>
				                               	</tr>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- // 显示左侧我的设备 -->
		</div>

        </div>
    </div>
    <!-- 版权栏 -->
{% endblock %}