	<!-- 版权栏 -->

<div class="container" style="margin-top:30px;border-top: 5px solid #D9D9D9;">
	<div id="footer">
    <dl class="foot">
        <dt>系统帮助</dt>
        <dd>
            <div>
                <a href="#" target="_blank" rel="stylesheet">权限介绍</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">功能介绍</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">系统文档</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">常见问题</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="nofollow">联系管理员</a>
            </div>
        </dd>
    </dl>
    <dl class="foot">
        <dt>服务器</dt>
        <dd>
            <div>
                <a href="#" target="_blank" rel="stylesheet">IPv6服务器</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">Speedtest</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">HDM服务器</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">DSM服务器</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">ATC服务器</a>
            </div>
        </dd>
    </dl>
    <dl class="foot">
        <dt>测试页面</dt>
        <dd>
            <div>
                <a href="#" target="_blank" rel="stylesheet">Http</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">Https</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">Ftp</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">Video</a>
            </div>
            <div>
                <a href="#" target="_blank" rel="stylesheet">Upload</a>
            </div>
        </dd>
    </dl>
</div>
<footer id="mr-footer" class="wrap mr-footer">
	<section class="mr-copyright">
		<div class="container">
			<div style="width:auto; height:auto; margin:auto;">
				<small> <a
					href="http://server.nsb.com/" target="_blank">NOKIA上海贝尔软件有限公司</a> <a
					href="{{url_for('admin.login')}}">后台</a> | 邮箱：<a
					href="mailto:deliang.wang@nokia-sbell.com">deliang.wang@nokia-sbell.com</a>
					&nbsp;&nbsp;电话：021-50554550  | 公司地址：上海市浦东新区宁桥路388号
				</small>
			</div>
		</div>
	</section>
</footer>